body {
    background-color: thistle;
}
* {
    padding: 0px;
    margin: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    background-color: darkgoldenrod;
}
.logo{
    height: 58px;
    background-color: darkmagenta
    ;
}
.box{
    flex-grow: 1;
    margin: 8px;
    background-color: rgb(169, 252, 252);
    height: 20px;
}
.content{
    flex-grow: 1;
    margin: 8px;
    background-color: rgb(169, 252, 252);
    height: 300px;}

.contentbox{
    flex-grow: 1;
    margin: 8px;
    background-color: rgb(169, 252, 252);
    height: 200px;
}