body {

    background-image: url(img/sea3.jpg);
}
* {
    padding: 0px;
    margin: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.colum{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.box{
    flex-grow: 1;
    background-image: url(img/sea4.jpg);
    margin: 8px;
    background-color: rgb(201, 201, 201);
    height: 37px;
    padding: 10px;
    text-align: center;
    font-style: oblique;
    border: rgb(190, 191, 255);
    border: groove;
}
.emptybox{
    flex-grow: 1;
    margin: 8px;
    background-color: white;
    height: 37px;
}
.content{
    flex-grow: 10;
    margin: 8px;
    background-color: rgb(219, 219, 219);
    height: 670px;
    flex-direction: row;}

.contentbox{
    margin: 8px;
    padding: 10px;
    background-color: rgb(201, 201, 201);
    height: 120px;
    width: 309px
    ;
}
.menubox{
    margin: 8px;
    background-image: url(img/sea4.jpg);
    background-color: rgb(201, 201, 201);
    height: 40px;
    width: 202px;
    flex-grow: 1;
    border: groove;
    text-align: center;
}
.menuboxh{
    margin: 8px;
    backface-visibility: hidden;
    height: 20px;
    flex-grow: 1;
    flex-direction: row;
    
}
.bottombox{
    flex-grow: 1;
    margin: 8px;
    height: 150px;
    text-align: center;
    padding: 20px;
    text-decoration-color: rgb(255, 255, 255);
    text-shadow: ghostwhite;
    text-decoration: ghostwhite;
    background: rgb(2,0,36);
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 8%, rgba(0,0,0,1) 58%, rgba(156,156,156,1) 100%);
.fill{
    height: 120px;
    width: 15px;
}
.rd{
    color: blue;
}